@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primaryColor: #000;
  --secondaryColor: #fff;
}

*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Roboto", "sans-serif";
}

/*width*/
::-webkit-scrollbar {
  width: 5px;
  color: #000;
}

/*track*/
::-webkit-scrollbar-track {
  background-color: #fff;
}

/*handle*/
::-webkit-scrollbar-thumb {
  background-color: #9a9a9a;
  border-radius: 3px;
}

/*handle on hover*/
::webkit-scrollbar-thumb:hover {
  background-color: #9a9a9a;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

.container {
  overflow: auto;
}

.Mui-selected  {
  background-color: #01B9FF !important;
}

.MuiIconButton-root{
  user-select: none !important;
  visibility: hidden !important;
}

@media(max-width:430px){
  *{
    font-size:14px !important;
  }
  h4{
    font-size: 20px !important;
  }
  h2{
    font-size: 16px !important;
  }
  h3{
    font-size: 17px !important;
  }
  
}

@media (pointer: coarse), (hover: none) {
  [title] {
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 200px;

  }
  [title]:focus::after {
    content: attr(title);
    position: absolute;
    top: -50px;
    left: -140px;
    color: #000;
    font-weight: bold;
    background-color: #01B9FF;
    border: 0px solid;
    padding: 3px;
    border-radius: 20px;
    width: 200px;


  }
}