:root {
  --primaryColor: #000;
  --secondaryColor: #fff;
}

*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/*width*/
::-webkit-scrollbar {
  width: 5px;
  color: #000;
}

/*track*/
::-webkit-scrollbar-track {
  background-color: #fff;
}

/*handle*/
::-webkit-scrollbar-thumb {
  background-color: #9a9a9a;
  border-radius: 3px;
}

/*handle on hover*/
::webkit-scrollbar-thumb:hover {
  background-color: #9a9a9a;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  overflow: auto;
}