.login {
  position: relative;
  margin-top: 1%;
  height: 100%;
}

.login_header h2{
  color: #313131;
  font-size: 16px !important;
  letter-spacing: normal;
  font-weight: 600 !important;
  line-height:normal !important;
}

.input_phone{
  background-color: #fff !important;
  border: none;
  border-bottom: 1px solid #000 !important;
  border-radius: 0px !important;
  border-bottom: 2px solid #bfe8f8 !important;
  text-indent: 0px !important;
  letter-spacing:1.5px;
}

.input_phone__cyan:focus{
  background-color: #fff !important;
  border-bottom: 2px solid #000 !important;
}

.input_phone__red:focus{
  background-color: #fff !important;
  border-bottom: 2px solid red !important;
}

.login h1 {
  font-size: 24px;
  letter-spacing: 1px;
  margin: 0;
}

.login h5 {
  font-size: 12px;
  margin: 10px 0 20px;
}

.login_switch {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  /* background-color: #e3e3e3; */
}

.login_switch button {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  padding: 5px;
  flex: 1;
  font-size: 16px;
  letter-spacing: 1px;
}
.login_input {
  background-size: 15px !important;
}
.switch_active {
  color: #fff;
  background-color: #1032b5;
  transition: all 0.3s ease;
}

.switch_inactive {
  color: #000;
  background-color: transparent;
  transition: all 0.3s ease;
}

.inputField {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15px 50%;
  text-indent: 40px;
  border: none;
  background-color: rgb(240, 240, 240);
  padding: 15px 5px;
  border-radius: 10px;
  outline: none;
  color: gray;
  font-size: 14px;
  font-weight: 500;
}

.inputField::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  font-weight: 500;
  opacity: 0.7;
  /* Firefox */
}

.name {
  background-image: url("../src/assets/user.png");
}

.email {
  background-image: url("../src/assets/email.png");
  background-size: 30px;
  background-position: 10px 50%;
}

.phone {
  background-image: url("../src/assets/phone.png");
}

.pw {
  background-image: url("../src/assets/padlock.png");
}

.otp_field{
  position: relative !important; 
}

.otp_field label{
  margin:0px;
}

.show_hide_pw_icon {
  cursor: pointer;
  position: absolute;
  width: 20px;
  top: 20px !important;
  right: 10px;
  z-index: 999 !important;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.input_checkbox {
  transform: scale(1.5);
  padding: 0.5%;
  margin-top: 2px;
}

.signup_btn {
  border: none;
  background-color: #1032b5;
  color: #fff;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  transition: all 300ms;
  position: absolute;
  bottom:-15px;
  left:3px;
  right:7px; 
  width: 100%;  
  text-transform: uppercase;
}

.signup_btn:hover {
  opacity: 0.8;
}

.signup_btn h3{
  font-weight: 800;
  letter-spacing:px;
}

.continue_text {
  font-weight: 400;
  position: relative;
  text-align: center;
}

.continue_text:after {
  content: " ";
  display: block;
  height: 1px;
  width: 110px;
  position: absolute;
  top: 55%;
  left: 0;
  background: #000;
}

.continue_text:before {
  content: " ";
  display: block;
  height: 1px;
  width: 110px;
  position: absolute;
  top: 55%;
  right: 0;
  background: #000;
}

.register_options {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.register_options input {
  width: 50px !important;
  height: 50px;
  border: 2px solid gainsboro;
  border-radius: 10px;
}

.invalid {
  font-size: 14px !important;
  color: red;
  margin: -35px 0 18px 0;
  animation: fade-top-to-bottom 0.5s;
  transition: all 300ms
}

@keyframes fade-top-to-bottom{
  0%{
    transform: translateY(-20px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.register_font_weight {
  font-weight: 500;
}

.login_now_text {
  color: #1032b5;
  font-weight: 700;
}

.password_field {
  position: relative;
}

@media (max-width: 600px) {
  .continue_text:after,
  .continue_text:before {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .continue_text:after,
  .continue_text:before {
    width: 120px;
    top: 50%;
  }
}

@media (max-width: 380px) {
  .continue_text:after,
  .continue_text:before {
    width: 70px;
    top: 55%;
  }
}
