.search{
    background-image: url(".././src/assets/search.png");
}

.common_text{
    font-size: 16px;
    color: #000;
    margin:10px 0;
}

.searchBlob{
    background-color: #c4c4c4;
    border-radius: 10px;
    font-weight: bold;
    padding:5px;
    cursor: pointer;
    margin:7px 8px;
}

.selectedBlob{
    position: relative;
}

.removeCross{
    width:15px;
    position: absolute;
    top: -5px;
    right: -5px;
    color:rgb(234, 48, 48);
}

.commonSpares{
    background-color: #f3f3f3;
    padding:10px;
    border-radius: 10px;
}
